*{
    font-family: Arial, Sans-Serif, Times New Roman;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: white;
}
body{
    background-color: wheat;
    background-image: url('photo/bgrd.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
   padding: 15px;
   
}
nav ul{
    
    display: flex;
    list-style: none;
    
    
}

nav ul li{
    
    margin: 5px
    
}
nav a{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
   
    
}






.proff
{
    display: flex;
    align-items: center;
    justify-content: space;
    color: white;
    background-size: 20px, 20px;
    border-radius: 30px, 30px;
    
    
}

.proff p{
    margin-left: 12px;
    margin-top: 25px;
    
}


img{
    width: 80px;
height: 90px;
border: 20px;
    border-radius: 20px, 20px;
    margin-left: 15px;
    margin-top: 15px;
}




/* vids*/

video
{
   width: 50%;
   height: 200px;
   display: flex;
   margin: 30px;
}
